@import url(/ecommerceG3/view/fonts/Alice/Alice-Regular.ttf);
@font-face {
    font-family: "principal";
    src: url(/ecommerceG3/view/fonts/Alice/Alice-Regular.ttf)
    format('truetype');
}

@import url(/ecommerceG3/view/fonts/Inria_Sans/InriaSans-Regular.ttf);
@font-face {
    font-family: "secundaria";
    src: url(/ecommerceG3/view/fonts/Inria_Sans/InriaSans-Regular.ttf)
    format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #3b0d16; /* sua cor vinho */
}

/* logo */
#logo {
  height: 150px;
  width: 150px;
}

/* ícones do topo */
img.icon {
  height: 50px;
  width: 50px;
  margin: 10px;
  float: right;   /* mantém seu estilo */
}

/* grid de categorias */
.categorias {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
   

}

img.categoria {
  width: 100%;
  max-height: 700px;
  max-width: 800px;  /* limite de altura */
  object-fit: cover;  /* corta para caber sem distorcer */
  border-radius: 6px;
}

/*barra de pesquisa */
#search-container {
  text-align: center;
  margin-top: 30px;
}

#search-input {
  width: 900px;
  height:80px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 24px;
}

#search-button {
  padding: 8px 12px;
  border: none;
  height: 70px;
  width: 90px;
  border-radius: 20px;
  background-color: #8d4654;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin: 1%;
}

#search-button:hover {
  background-color: #aa6270;
}

#cate{
    margin:0 auto;
    text-align: center;
    justify-content: center;
}

.icon:hover {
  transform: scale(1.2); /* aumenta 20% */
}

.categoria:hover {
 filter: brightness(1.3);
}

/*Sobre Nós*/

#quadrado-branco{
  width: 1200px;
  height: 1000px;
  background-color: white;
  margin: 50px auto;
  border-radius: 10px;
}

#quadrado-branco h1{
  color: #3b0d16;
  text-align: center;
  font-family: 'principal';
  font-size: 35pt;
}

#logo-vinho{
  width: 500px;
  margin: 20px auto;
  display: flex;
  align-items: center;
}

.texto-informativo{
  font-family: 'secundaria';
  line-height: 1.5;
  font-size: 18pt;
  text-align: justify;
  margin: 40px 50px;
  color: #3b0d16;
}

#slogan{
  font-weight: bold;
  text-align: center;
}

 /*pagina sala*/
img.sala{
  padding:40px;
  border:#aa6270 15px solid;
  border-radius: 10px;
  width:400;
  height: 500px;
  display: inline-block;
  margin:1%;
}



#legenda{
  background-color: white;
  height: 50px;
  width:200px;
  color:#8d4654;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
}
 
#rodape {
  width: 100%;
  background-color: white;
  color: black;
  padding: 15px 0 30px 0;
  text-align: center;
  margin-top: 30px;
}

a.texto-rodape, h2.texto-rodape {
  font-family: 'secundaria';
  font-size: 15pt;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

.link-rodape {
  font-family: 'secundaria';
  font-size: 12pt;
  color: black;
  text-decoration: none;
}

.link-rodape:hover{
  color: #8d4654;
}

.link-rodape:visited{
  text-decoration: none;
}

.link-rodape:active{
  text-decoration: none;
 }


 a.texto-rodape:hover{
  text-decoration: underline;
 }

 
p.nome-produto,p.preco-produto{
  color:white;
  font-family: "primaria";
  font-size: 15px;
  text-align: center;
  justify-items: center;
}
button.btn-carrinho{
  background-color: #3ac79d;
  color:white;
  font-family: "primaria";
  border-radius:20px;
  border: 5px #3ac79d solid;
  font-size: 15px;
  justify-content: center;
  justify-items: center;
  text-align: center;
}
/*
.produto-img{
  display: inline-block;
  width: 500px;         
  height: 500px ;               
  object-fit: contain;            
  background: #fff;            
  border-radius: 8px;
 
}

#secSala {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;         
  padding: 20px;
  justify-items: center;
}
  */
#secSala{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 24px;
  padding: 20px;
}

 .produto-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  width: 100%;
  max-width: 320px;          /* aumente para deixar os cards maiores */
  background: #2c0d0d;
  border-radius: 12px;
  padding: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,.25);
  overflow: hidden;          /* nada vaza do card */
  box-sizing: border-box;
}


.produto-img{
  display: block;
  width: 100%;            
  aspect-ratio: 4 / 3;     
  height: 400px;             
  object-fit: contain;       
  background: white;          
  border-radius: 10px;
}

 
.nome-produto{ color:#3b0d16; font-weight:600; margin:4px 0 0; }
.preco-produto{ color:#ffcc00; margin:0 0 6px; }
.btn-carrinho{ width:100%; padding:10px; border:none; border-radius:8px; background:#28a745; color:#fff; cursor:pointer; }
.btn-carrinho:hover{ background:#218838; }
button.btn-carrinho:hover{
  background-color: #1f6e57;
}
 
 #produtos-container{
  width: 60%;
  height: 700px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  left: 700px;
  margin-top: 60px;
  margin-bottom: 60px;
  overflow-y: auto;
  color: #3b0d16;
 }

.grid{ 
  display:grid; 
  grid-template-columns: repeat(2,1fr); 
  gap:20px;
}

.card{ 
  background: white;
  border-radius:5px;
  overflow:hidden;
  margin: 30px;
}

.card img{
  width: 100%;
  object-fit:cover; 
  display:block;
}

.card-info {
  padding:10px;
  font-size:18px;
  font-family: 'secundaria';
  color:#3b0d16;
  text-align: center;
  font-weight: bold;
}

.btn-add-carrinho {
  display: block;
  width: 90%;
  margin: 10px auto 15px auto;
  padding: 10px;
  background-color: #0c7019; /* cor do botão */
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}
.btn-add-fav{
    display: block;
  width: 90%;
  margin: 10px auto 15px auto;
  padding: 10px;
  background-color: #fd3dad; /* cor do botão */
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.btn-add-carrinho:hover {
  background-color: #ff4c3b;
  transform: translateY(-2px);
}

.img-carrinho {
  width: 600px;
  height: 700px;
  display: block;
  margin: 0 auto;   /* centraliza horizontalmente */
  object-fit: contain; /* opcional, para não esticar */
}
.item-carrinho{
  color: white;
  text-align: center;
  font-size: 25px;
  font-family: "primaria";
}

h1.carrinho{
  color:white;
  text-align: center;
  font-size: 50px;
  font-family: "primaria";
}

.btn-remover{
  border:0; padding:8px 12px; border-radius:8px; cursor:pointer;
  background:#ef4444; color:#fff; font-weight:700;
}
.btn-remover:hover{ filter:brightness(1.05); }


.msg-vazio {
  background-color: white;
  padding: 40px 30px;
  border-radius: 12px;
  text-align: center;
  max-width: 600px;
  margin: 80px auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  font-family: 'secundaria';
  animation: aparecer 0.4s ease-in-out;
}

.msg-vazio p {
  font-size: 20pt;
  color: #3b0d16;
  margin-bottom: 30px;
}

/* Botão 'Ver produtos' */
.btn-voltar {
  display: inline-block;
  background-color: #3b0d16;
  color: white;
  text-decoration: none;
  font-size: 14pt;
  padding: 12px 25px;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-voltar:hover {
  background-color: #5a1f2c;
  transform: translateY(-2px);
}