<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href= "styles/estilo.css">
</head>
<body>
    
    <a href="carrinho.html"> <img id="cart" class="icon" src="IMG/carrinho.png" alt="cart"/></a>
    <a href="favoritos.html"> <img id="favorite" class="icon" src="IMG/favorites.png" alt="favorite"/>  </a>
    <a href="perfil.html"> <img id="perfil" class="icon" src="IMG/perfil.png" alt="perfil"/> </a>
    <a href="index.html">  <img id="logo" class="logo" src="IMG/Screenshot 2025-09-11 160009.png" alt="ML"><img></a>
    <a href="index.html">  <img id="home" class="icon" src="IMG/home.png" alt="home"/> </a>
       <br/><br/>
   
       <!--tentando adicionar itens -->
     <h1>Seu Carrinho</h1>
  <div id="listaCarrinho"></div>

  <script>
    let carrinho = JSON.parse(localStorage.getItem("carrinho")) || [];
    let div = document.getElementById("listaCarrinho");

    if (carrinho.length === 0) {
      div.innerHTML = "<p>Seu carrinho está vazio.</p>";
    } else {
      carrinho.forEach(item => {
        div.innerHTML += `
          <div class="item-carrinho">
            <img src="${item.imagem}" width="100"/>
            <p>${item.nome} - R$ ${item.preco}</p>
          </div>
        `;
        console.log(item.imagem);
        console.log(item.nome)
      });
    }
  </script>
       
    <footer id="rodape">
        <h2 class="texto-rodape">MoveLar - Móveis e acessórios para todos os ambientes. Conforto, praticidade e estilo para sua casa e escritório.</h2>
        <a href="sobreNos.html" class="texto-rodape">Sobre nós</a>
    </footer>
</body>
</html>