<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href= "styles/estilo.css">
</head>
<body>
    
    <a href="carrinho.html"> <img id="cart" class="icon" src="IMG/carrinho.png" alt="cart"/></a>
    <a href="favoritos.html"> <img id="favorite" class="icon" src="IMG/favorites.png" alt="favorite"/>  </a>
    <a href="perfil.html"> <img id="perfil" class="icon" src="IMG/perfil.png" alt="perfil"/> </a>
    <a href="index.html">  <img id="logo" class="logo" src="IMG/Screenshot 2025-09-11 160009.png" alt="ML"><img></a>
    <a href="index.html">  <img id="home" class="icon" src="IMG/home.png" alt="home"/> </a>
       <br/><br/>
    <div id="search-container">
        <input type="text" id="search-input" placeholder="Digite sua pesquisa..." />
        <button id="search-button">Buscar</button>
    </div>

    <section id="secSala">  

 
        <a href=" "> <img id="armaarioEs" class="sala" src="IMG/ArmariodeEscritorio.png" alt="armario"/> </a>
        <a href=""> <img id="cadeiraconfyEs" class="sala" src="IMG/CadeiraConfortaveldeEscritorio.png" alt="cadeira"/></a>
        <a href=""> <img id="cadeiraEs"  class="sala" src="IMG/CadeiradeEscritorioBasica.png" alt="cadeira"/> </a>
        <a href=""> <img id="conjuntocadeirasEs"  class="sala" src="IMG/ConjuntodeCadeirasparaFuncionarios.png" alt="conjuntocadeiras"/> </a>
        <a href=""> <img id="luminariaEs"  class="sala" src="IMG/LuminariaparaEscritorio.png" alt="luminaria"/> </a>
        <a href=""> <img id="mesaEs"  class="sala" src="IMG/MesadeEscritórioemL.png" alt="mesa"/> </a>
        <a href=""> <img id="mesSimplesEs"  class="sala" src="IMG/MesaSimplesdeEscritorio.png" alt="mesasimples"/> </a>
        <a href=""> <img id="sofaverde"  class="sala" src="IMG/sofaVerde.png" alt="sofaVerde"/> </a>
        <a href=""> <img id="estante"  class="sala" src="IMG/estanteSala.png" alt="estante"/> </a>
        <a href=""> <img id="comoda"  class="sala" src="IMG/comoda.png" alt="comoda"/> </a>

    </section>
    
    <footer id="rodape">
        <h2 class="texto-rodape">MoveLar - Móveis e acessórios para todos os ambientes. Conforto, praticidade e estilo para sua casa e escritório.</h2>
        <a href="sobreNos.html" class="texto-rodape">Sobre nós</a>
    </footer>
    <script src="script.js"></script> 
</body>
</html>