<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href= "styles/estilo.css">
</head>
<body>
<div id="conteudo-principal">
    <div id="topbar">
        <a href="index.html">  <img id="logo" class="logo" src="IMG/logo.png" alt="ML"><img></a>
        <h1 id="bem-vindo"></h1>
        <div id="icones-pequenos">
            <a href="login.html"> <img id="perfil" class="icon" src="IMG/perfil.png" alt="perfil"/> </a>
            <a href="favoritos.html"> <img id="favorite" class="icon" src="IMG/favorites.png" alt="favorite"/>  </a>
           <a href="carrinho.html"> <img id="cart" class="icon" src="IMG/logo_cart_novo.png" alt="cart"/></a>
             
        </div>
    </div>

    <div id="search-container">
        <input type="text" id="search-input" placeholder="Digite sua pesquisa..." />
        <button id="search-button">Buscar</button>
    </div>

       <br/><br/>

    <section id="cate">  
        <a href="sala.html"> <img id="salaGenerica" class="categoria" src="IMG/label_sala.png" alt="sala"/></a>
        <a href="quarto.html"> <img id="quartoGenerico" class="categoria" src="IMG/label_quarto.png" alt="quarto"/></a>
        <a href="jardim.html"> <img id="jardimGenerico"  class="categoria" src="IMG/label_jardim.png" alt="jardim"/> </a>
        <a href="escritorio.html">  <img id="escritorioGen" class="categoria" src="IMG/label_escritorio.png" alt="escritoriio"/> </a>
        <a href="todosProdutos.html">  <img id="casaGen" class="categoria" src="IMG/casaCanva.png" alt="verTudo"/> </a>
    </section>
    </div>


    
<div id="resultado">
 </div>
</div>

    <footer id="rodape">
        </br>
        <a href="sobreNos.html" class="texto-rodape">Sobre nós</a>
        <h2 class="texto-rodape">MoveLar - Móveis e acessórios para todos os ambientes. Conforto, praticidade e estilo para sua casa e escritório.</h2>
    </footer>

    <script src="../control/logica-botoes-produtos.js"></script> 
    <script src="../control/logica-usuario.js"></script> 
    <script src="../control/logica-busca.js"></script>

</body>
</html>