<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href= "styles/estilo.css">
    <link rel="stylesheet" href= "styles/cadastro.css">
    <link rel="stylesheet" href= "styles/login.css">
</head>
<body>
    <div id="topbar">
        <a href="index.html">  <img id="logo" class="logo" src="IMG/logo.png" alt="ML"><img></a>
        <h1 id="bem-vindo"></h1>
        <div id="icones-pequenos">
            <a href="login.html"> <img id="perfil" class="icon" src="IMG/perfil.png" alt="perfil"/> </a>
            <a href="favoritos.html"> <img id="favorite" class="icon" src="IMG/favorites.png" alt="favorite"/>  </a>
           <a href="carrinho.html"> <img id="cart" class="icon" src="IMG/logo_cart_novo.png" alt="cart"/></a>
            
        </div>
    </div>
       <br/><br/>

<div id="dados-container">
  <h1>Login</h1>
  <form class="form-login">
    <label for="email">E-mail</label>
    <input type="email" name="email" placeholder="Digite seu e-mail">

    <label for="senha">Senha</label>
    <input type="password" name="senha" placeholder="Digite sua senha">

    <button type="submit">Entrar</button>
  </form>

      <p style="text-align:center; margin-top:20px; font-family:'secundaria'; font-size:14pt; color:#3b0d16;">
        Não tem conta? <a href="cadastro.html" style="color:#8d4654; font-weight:bold; text-decoration:none;">Cadastre-se</a>
      </p>
    </div>
    </main>

    <footer id="rodape">
        </br>
        <a href="sobreNos.html" class="texto-rodape">Sobre nós</a>
        <h2 class="texto-rodape">MoveLar - Móveis e acessórios para todos os ambientes. Conforto, praticidade e estilo para sua casa e escritório.</h2>
    </footer>

        <script src="../control/logica-usuario.js"></script>

</body>

</html>