<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href= "styles/estilo.css">
    <link rel="stylesheet" href= "styles/cadastro.css">
    <link rel="stylesheet" href= "styles/login.css">
</head>
<body>

    <div id="topbar">
        <a href="index.html">  <img id="logo" class="logo" src="IMG/logo.png" alt="ML"><img></a>
        <div id="icones-pequenos">
            <a href="login.html"> <img id="perfil" class="icon" src="IMG/perfil.png" alt="perfil"/> </a>
            <a href="favoritos.html"> <img id="favorite" class="icon" src="IMG/favorites.png" alt="favorite"/>  </a>
           <a href="carrinho.html"> <img id="cart" class="icon" src="IMG/logo_cart_novo.png" alt="cart"/></a>
            
        </div>
    </div>
       <br/><br/>

    <div id="dados-logout">
    <h1>Logout</h1>
    
    <p id="txt-logout">Deseja sair da sua conta?</p>
    <button class="form-cadastro" id="btn-logout" type="submit">Sair</button>
        
    </div>

    <footer id="rodape">
        </br>
        <a href="sobreNos.html" class="texto-rodape">Sobre nós</a>
        <h2 class="texto-rodape">MoveLar - Móveis e acessórios para todos os ambientes. Conforto, praticidade e estilo para sua casa e escritório.</h2>
    </footer>

        <script src="../control/logica-usuario.js"></script>

</body>
</html>