<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href= "styles/estilo.css">
</head>
<body>
    <a href="carrimho.html"> <img id="cart" class="icon" src="IMG/carrinho.png" alt="cart"/></a>
    <a href="favoritos.html"> <img id="favorite" class="icon" src="IMG/favorites.png" alt="favorite"/>  </a>
    <a href="perfil.html"> <img id="perfil" class="icon" src="IMG/perfil.png" alt="perfil"/> </a>
    <a href="index.html">  <img id="logo" class="logo" src="IMG/Screenshot 2025-09-11 160009.png" alt="ML"><img></a>
    <a href="index.html">  <img id="home" class="icon" src="IMG/home.png" alt="home"/> </a>
       <br/><br/>

    
</body>
</html>