<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href= "styles/estilo.css">
    <link rel="stylesheet" href= "styles/cadastro.css">
</head>
<body>
    <div id="topbar">
        <a href="index.html">  <img id="logo" class="logo" src="IMG/logo.png" alt="ML"><img></a>
        <div id="icones-pequenos">
            <a href="login.html"> <img id="perfil" class="icon" src="IMG/perfil.png" alt="perfil"/> </a>
            <a href="favoritos.html"> <img id="favorite" class="icon" src="IMG/favorites.png" alt="favorite"/>  </a>
            <a href="carrinho.html"> <img id="cart" class="icon" src="IMG/carrinho.png" alt="cart"/></a>
        </div>
    </div>
       <br/><br/>
    
    <form class="cadastro">
        <h2 class="titulocad">Cadastre-se</h2>
        <label class="label-cadastro" for="nome">Nome Completo:</label>
        <input class="input-cadastro" type="text" id="nome" name="nome" required><br><br>

        <label class="label-cadastro" for="email">E-mail:</label>
        <input class="input-cadastro" type="email" id="email" name="email" required><br><br>

        <label class="label-cadastro" for="CEP">CEP:</label>
        <input class="input-cadastro" type="text" id="cep" name="cep" required><br><br>

        <label class="label-cadastro" for="endereco">Endereço:</label>
        <input class="input-cadastro" type="text" id="endereco" name="endereco" required><br><br>

        <label class="label-cadastro" for="complemento">Complemento:</label>
        <input class="input-cadastro" type="text" id="complemento" name="complemento"><br><br>

        <label class="label-cadastro" for="senha">Senha:</label>
        <input class="input-cadastro" type="password" id="senha" name="senha" required><br><br>

        <label class="label-cadastro" for="confirmarSenha">Confirmar Senha:</label>
        <input class="input-cadastro" type="password" id="confirmarSenha" name="confirmarSenha" required><br><br>

        <button type="submit">Cadastrar</button>
    </form>
</body>

</html>