<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href= "styles/estilo.css">
    <link rel="stylesheet" href= "styles/produto.css">
</head>
<body>
    <div id="topbar">
        <a href="index.html">  <img id="logo" class="logo" src="IMG/logo.png" alt="ML"><img></a>
        <h1 id="bem-vindo"></h1>
        <div id="icones-pequenos">
            <a href="login.html"> <img id="perfil" class="icon" src="IMG/perfil.png" alt="perfil"/> </a>
            <a href="favoritos.html"> <img id="favorite" class="icon" src="IMG/favorites.png" alt="favorite"/>  </a>
           <a href="carrinho.html"> <img id="cart" class="icon" src="IMG/logo_cart_novo.png" alt="cart"/></a>
             
        </div>
    </div>
    <br/><br/>

    <section>
        <div id="cores"></div>
        <div id="produto-container">
            <img id="produto-imagem" alt="">
            <h1 id="produto-nome"></h1>
            <p id="produto-preco"></p>
        </div>
        <button id="btn-add-carrinho" class="btn-carrinho">Adicionar ao carrinho</button>
        <button id="btn-add-fav" class="btn-favoritos">Adicionar aos favoritos</button>
    </section>

    <footer id="rodape">
        </br>
        <a href="sobreNos.html" class="texto-rodape">Sobre nós</a>
        <h2 class="texto-rodape">MoveLar - Móveis e acessórios para todos os ambientes. Conforto, praticidade e estilo para sua casa e escritório.</h2>
    </footer>

    <script src="../control/produto.js"></script>
    <script src="../control/logica-botoes-produtos.js"></script>
    <script src="../control/logica-usuario.js"></script>
    <script src="../model/funcoes.js"></script>

</body>
</html>