<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href= "styles/estilo.css">
</head>
<body>
    
    <a href="carrinho.html"> <img id="cart" class="icon" src="IMG/carrinho.png" alt="cart"/></a>
    <a href="favoritos.html"> <img id="favorite" class="icon" src="IMG/favorites.png" alt="favorite"/>  </a>
    <a href="perfil.html"> <img id="perfil" class="icon" src="IMG/perfil.png" alt="perfil"/> </a>
    <a href="index.html">  <img id="logo" class="logo" src="IMG/Screenshot 2025-09-11 160009.png" alt="ML"><img></a>
    <a href="index.html">  <img id="home" class="icon" src="IMG/home.png" alt="home"/> </a>
       <br/><br/>
     <div id="search-container">
        <input type="text" id="search-input" placeholder="Digite sua pesquisa..." />
        <button id="search-button">Buscar</button>
    </div>

     <section id="secSala">  

 
        <a href=" "> <img id="cadeiraSala" class="sala" src="IMG/cadeira.png" alt="cadeira"/> </a>
        <a href=""> <img id="sofaSala" class="sala" src="IMG/sofa.png" alt="sofa"/></a>
        <a href=""> <img id="mesaSala"  class="sala" src="IMG/mesa.png" alt="mesa"/> </a>
        <a href=""> <img id="poltronaSala"  class="sala" src="IMG/poltrona.png" alt="poltrona"/> </a>
        <a href=""> <img id="mesaCentroSala"  class="sala" src="IMG/mesaCentro.png" alt="mesaCentro"/> </a>
        <a href=""> <img id="tapeteSala"  class="sala" src="IMG/tapeteSala.png" alt="tapete"/> </a>
        <a href=""> <img id="mesavidro"  class="sala" src="IMG/mesaVidro.png" alt="mesa"/> </a>
        <a href=""> <img id="sofaverde"  class="sala" src="IMG/sofaVerde.png" alt="sofaVerde"/> </a>
        <a href=""> <img id="estante"  class="sala" src="IMG/estanteSala.png" alt="estante"/> </a>
        <a href=""> <img id="comoda"  class="sala" src="IMG/comoda.png" alt="comoda"/> </a>

    </section>

     
    <footer id="rodape">
        <h2 class="texto-rodape">MoveLar - Móveis e acessórios para todos os ambientes. Conforto, praticidade e estilo para sua casa e escritório.</h2>
        <a href="sobreNos.html" class="texto-rodape">Sobre nós</a>
    </footer>
     <script src="script.js"></script>    
</body>
</html>