<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre a MoveLar</title>
    <link rel="stylesheet" href= "styles/estilo.css">
</head>
<body>

    <div id="topbar">
        <a href="index.html">  <img id="logo" class="logo" src="IMG/logo.png" alt="ML"><img></a>
        <div id="icones-pequenos">
            <a href="login.html"> <img id="perfil" class="icon" src="IMG/perfil.png" alt="perfil"/> </a>
            <a href="favoritos.html"> <img id="favorite" class="icon" src="IMG/favorites.png" alt="favorite"/>  </a>
           <a href="carrinho.html"> <img id="cart" class="icon" src="IMG/logo_cart_novo.png" alt="cart"/></a>
            
        </div>
    </div>

    <section id="main">
        <div id="quadrado-branco">
            <img id="logo-vinho" src="IMG/logoVinho.png">
            <h1>Sobre a MoveLar</h1>
            <p class="texto-informativo">
                Desde 2003, a MoveLar vem fazendo história no mercado de móveis e decoração, ajudando milhares de pessoas a 
                transformarem suas casas em verdadeiros lares. O que começou como um pequeno projeto, hoje é um e-commerce 
                consolidado, que leva praticidade, qualidade e design para todo o Brasil.
            </p>
            <p class="texto-informativo">
                Nosso compromisso sempre foi unir estilo, durabilidade e acessibilidade, oferecendo móveis que não apenas 
                complementam ambientes, mas que também contam histórias e acompanham momentos importantes da vida de cada 
                cliente.
            </p>
            <p id="slogan" class="texto-informativo">
                MoveLar: design e conforto que cabem na sua casa.
            </p>
        </div>
    </section>

    <footer id="rodape">
        </br>
        <a href="sobreNos.html" class="texto-rodape">Sobre nós</a>
        <h2 class="texto-rodape">MoveLar - Móveis e acessórios para todos os ambientes. Conforto, praticidade e estilo para sua casa e escritório.</h2>
    </footer>
    
        <script src="../control/logica-usuario.js"></script> 
</body>
</html>